@tailwind base;
@tailwind components;
@tailwind utilities;

a.active {
  cursor: default;
  color: var(--accent-a10);
}

/* theme-config.css */
.radix-themes {
  --default-font-family: "Rubik", "Roboto", sans-serif;
  --default-font-weight: 500;
  --default-font-size: 18px;
}
